* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .img_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_div img {
  width: 200px;
  height: 200px;
  padding: 2px;
  background-color: #ebcea8f3;
} */

/* .background {
  background-color: rgb(231, 168, 73);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerBox {
  background-color: #f5e4cff3;
  min-height: 10%;
  width: 40%;
  border-radius: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 1px 3px 5px #333;
  text-shadow: 2px 0px 5px #1d1b1b;
}
.text {
  margin-top: 10px;
} */

/* .heading_style {
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #555;
  background-color: white;
  margin-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cards {
  width: 100%;
  height: auto;
}
.card:hover {
  transform: scale(1.1);
}
.card {
  margin: 6%;
  margin-left: 11%;
  box-shadow: 2px 4px 8px #333;
  border-radius: 8px;
  background-color: white;
  width: 12rem;
  height: 255px;
  font-family: sans-serif;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  float: left;
}
.card_img {
  width: 100%;
  height: 170px;
}
.card_info {
  padding-left: 7px;
  text-transform: capitalize;
  background-color: white;
}
.card_category {
  font-size: 11px;
  font-weight: normal;
  color: rgb(77, 74, 74);
  text-transform: uppercase;
  background-color: white;
}
.card_title {
  color: rgb(63, 61, 61);
  font-size: 18px;
  margin-top: 3px;
  background-color: white;
}
.button {
  border: 1px solid #999;
  background-color: white;
  padding: 4px;
  color: #555;
  margin-top: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 270px;
  }
  .card_img {
    height: 180px;
  }
}

.slotmachine {
  text-align: center;
  border: 2px solid #888;
}
.slot_inner {
  font-size: 13px;
  font-family: monospace;
  color: #333;
  font-weight: lighter;
  margin: 3%;
} */

/* div {
  width: 100%;
  height: 100vh;
  background: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  padding: 12px 20px;
  background: plum;
  color: white;
  border: 2px solid white;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  font-family: 'Nunito Sans';
  letter-spacing: 2px;
  box-shadow: 0px 4px 5px black;
}
h1 {
  color: white;
  background: transparent;
  text-shadow: 0px 3px 3px black;
  font-size: 2.5rem;
  font-family: 'Nunito Sans';
  letter-spacing: 2px;
}
input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 3px;
  outline: none;
  margin: 20px 0;
  text-align: center;
  background: blanchedalmond;
}
form {
  width: 50%;
}
p {
  background: transparent;
  font-weight: 500;
  font-size: 20px;
  text-shadow: 0px 1px 4px black;
  letter-spacing: 1px;
  font-family: 'Nunito Sans';
} */

.main_div {
  width: 100%;
  height: 100vh;
  background: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center_div {
  width: 30%;
  height: 50vh;
  background-color: white;
  background: white;
  box-shadow: 5px 5px 25px -5px #222;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Nunito Sans';
}
h1 {
  color: rgb(43, 43, 43);
  background: transparent;
  text-shadow: 0px 4px 4px black;
  padding: 6px 0 2px 0;
  margin-bottom: 40px;
  width: 100%;
  /* box-shadow: 5px 5px 15px -5px #222; */
  font-size: 50px;
}
button {
  padding: 0 15px;
  min-height: 45px;
  background-color: rgb(255, 255, 255);
  color: rgb(88, 88, 88);
  border: 2px solid black;
  outline: none;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  box-shadow: 5px 5px 15px -5px black;
}
button:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}
.btn_green:hover {
  color: limegreen;
}
.btn_red:hover {
  color: tomato;
}
.btn_div {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .center_div {
    width: 50%;
  }
}

@media only screen and (max-width: 414px) {
  .center_div {
    width: 80%;
  }
}
